<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand fw-bold" routerLink="/dashboard">Admin Panel</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="adminNavbar">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/user-management" >
          <i class="lucide lucide-users"></i> Users
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/customer-management" routerLinkActive="active">
          <i class="lucide lucide-user-round"></i> Customers
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/category-management" routerLinkActive="active">
          <i class="lucide lucide-layers"></i> Categories
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/brand-management" routerLinkActive="active">
          <i class="lucide lucide-badge-check"></i> Brands
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/product-management" routerLinkActive="active">
          <i class="lucide lucide-package"></i> Products
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/order-management" routerLinkActive="active">
          <i class="lucide lucide-shopping-cart"></i> Orders
        </a>
      </li>

    </ul>
  </div>
</nav>
