<div class="container py-4">
  <h3 *ngIf="query">Results for: "<strong>{{ query }}</strong>"</h3>

  <!-- No results -->
  <div *ngIf="noResults" >
    <div class="container mt-5">
      <div class="row">
          <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
              <img src="https://codescandy.com/coach/rtl/assets/images/bag.svg" alt="" class="img-fluid mb-4">
              <h2>Your shopping cart is empty</h2>
              <p class="mb-4">
                  Keep Shopping!
              </p>
            </div>
      </div>
  </div>
  </div>

  <!-- Product list -->
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of filteredProducts">
      <div class="card h-100">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">${{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
